<%= render 'navbar' %>
<div class="card-category" style="background-image: url(<%= image_path('theater.jpg') %>)">
  Save any kind of movie
</div>
<h1></h1>
<h2>My lists</h2>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list)  %>
    </li>
  <% end %>
</ul>
